extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt='imagen de nosotros', class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu erat et ligula porttitor tincidunt vitae quis ex. Cras eu augue facilisis justo interdum hendrerit. Aliquam eget odio hendrerit, tempor nunc id, sagittis mauris. Sed vitae lectus et nunc posuere ultrices. Ut nibh metus, scelerisque nec sapien in, tempor venenatis lectus. Nunc elit massa, efficitur quis magna ac, lobortis elementum elit. Morbi et consequat ex. Praesent tempus ullamcorper cursus.
                p In lacinia fermentum nisl vitae consectetur. Nullam sodales dignissim euismod. Maecenas varius, nunc at pharetra vehicula, lectus orci rutrum elit, nec vehicula mi velit et leo. Suspendisse potenti. Vestibulum pretium ex aliquet libero commodo, quis viverra nulla tincidunt. 
                p Maecenas mi orci, posuere sit amet sagittis in, tristique semper tellus. Nullam a leo nec justo iaculis lacinia vitae sed est. Sed vitae blandit mi. Sed ut faucibus turpis, nec elementum erat. Donec tempor euismod iaculis.
   

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam a leo nec justo iaculis lacinia vitae sed est. Sed vitae blandit mi. Sed ut faucibus turpis, nec elementum erat. Donec tempor euismod iaculis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam a leo nec justo iaculis lacinia vitae sed est. Sed vitae blandit mi. Sed ut faucibus turpis, nec elementum erat. Donec tempor euismod iaculis.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nullam a leo nec justo iaculis lacinia vitae sed est. Sed vitae blandit mi. Sed ut faucibus turpis, nec elementum erat. Donec tempor euismod iaculis.